<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <p>{{ content }}</p>
      <p>By: {{username}} {{date_created}}</p>
    </div>
  </a>
</section>